@use 'config';

@font-face {
  font-family: 'great_vibes';
  src: url('../fonts/greatvibes-regular-webfont.woff2') format('woff2'),
    url('../fonts/greatvibes-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: great_vibes, sans-serif;
  background-color: rgb(246, 246, 246);
  height: 100vh;

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  text-align: center;
  font-size: 3rem;
  margin: 8px 0;
  font-weight: 500;
}

.alive-ships {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 16px;
  flex-wrap: wrap;

  .alive-ship {
    display: flex;

    .ship-block {
      width: 1vw;
      height: 1vw;
      border: 1px solid black;

      &:not(:first-child) {
        border-left: none;
      }
    }
  }
}

#game-boards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  flex-wrap: wrap;
}

[class$='-board'] {
  // human-board, computer-board
  display: flex;
  flex-direction: column;
  gap: 2px;

  .row {
    display: flex;
    gap: 2px;
  }

  button {
    @extend %reset-appearance;
    width: 4vw;
    height: 4vw;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;

    &.attacked {
      &::after {
        content: 'X';
        color: rgb(50, 50, 50);
        font-weight: bold;
      }
    }
  }

  // HUMAN
  &:nth-of-type(1) {
    button.has-ship {
      background-color: lightblue;
    }

    .alive-ships .ship-block {
      background-color: lighten(lightblue, 10%);
    }
  }

  // COMPUTER
  &:nth-of-type(2) {
    button:hover,
    button:focus {
      background-color: lightgrey;
    }

    button.has-ship {
      background-color: lightcoral;
    }

    .alive-ships .ship-block {
      background-color: lighten(lightcoral, 10%);
    }
  }
}

#game-over {
  margin: 16px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  button {
    @extend %button;

    &:hover,
    &:focus {
      background-color: darken(white, 10%);
    }
  }
}

footer {
  font-size: 1.5rem;
  min-height: 64px;
  background-color: rgb(250, 250, 250);
  margin-top: auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: lightcoral;

    &:hover {
      text-decoration: line-through;
    }
  }
}

@media (max-width: 576px) {
  #game-boards {
    flex-direction: column;
    align-items: center;
  }

  [class$='-board'] button {
    width: 8vw;
    height: 8vw;
  }

  footer {
    min-height: 48px;
  }

  .ship-block {
    width: 2vw !important;
    height: 2vw !important;
  }

  #game-over {
    margin-bottom: 32px;
  }
}

#choose-difficulty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin-top: 10vh;

  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

#difficulties {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .difficulty {
    button {
      @extend %button;
    }

    &.easy button {
      background-color: lightgreen;

      &:focus,
      &:hover {
        background-color: lighten(lightgreen, 10%);
      }
    }

    &.medium button {
      background-color: darken(lightyellow, 10%);

      &:focus,
      &:hover {
        background-color: lightyellow;
      }
    }

    &.hard button {
      background-color: lightcoral;

      &:focus,
      &:hover {
        background-color: lighten(lightcoral, 10%);
      }
    }
  }
}
